.post{
    max-width: 500px;
    background-color: white;
    border-top: 1px solid rgba(0,0, 0, 0.09);
    margin-bottom: 45px;
}

.postHeader{
    display: flex;
    align-items: center;
    padding: 10px;
    height: 5vh;
}

.postUsername{
    margin-left: -25px;
}

.postImage {
    width: 100%;
    object-fit: contain;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.postText{
    font-weight: normal;
    padding: 20px;
}

.postAvatar {
    margin-right: 10px;
    padding: 0 20px;
}
